#banner 
  .banner_content
    %h1 File Cabinet 
    %p Organize your documents in one place 
    %button= link_to "Enter", new_user_registration_path 

#callouts 
  .callout_inner
    .wrapper
      .callout
        %h2 %Organize
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas illo porro id voluptatibus eum sapiente temporibus, possimus expedita facere atque minima consequuntur quis iste, nulla veniam mollitia quod pariatur esse!
      
#bottom_cta
  .wrapper
    %h2 Go Ahead! 
    %br 
    %button= link_to "Join Now", new_user_registration_path 
           
          
  